.full-card {
    color: black;
    height: 200px;
    text-align: left;
    margin: 20px 10px;
}

.full-card:hover {
    cursor: pointer;
}

.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
}

.page-selector {
    display: flex;
    justify-content: center;
    width: 100%;
    clear: both;
    position: relative;
}

.pagination a {
    color: black;
}

.pagination a:hover {
    color: black;
}

.cards-container {
    margin-top: 100px;
}

.tripName{
    font-size: 40px;
    font-weight: bold;
    padding: 50px;
    color:#688f4e !important;
}

.eventpage-container {
    margin-top: 100px;
    max-width: 60%;
}

.details-card {
    background-color: #B1D182;
    border-radius: 25px;
}

.p-detail {
    margin: 0;
    padding: 30px;
}

.left-side {
    margin: 0;
    margin-bottom: 30px;
}

.left-side-p {

    margin-left: 0px;
    margin-top: 62px;
    overflow:auto;
    display:block;
    color: grey
}

.left-side-p1 {

    margin-left: 35px;
    margin-top: 25px;
    
}

.left-col {
    padding-right: 200px;
}

.locationicon {
    height: 20px;
    float: left;
    margin-right: 10px;
    clear:both;
    margin-top: 35px;
}

.btn-success {
    background-color: #B1D182;
    padding: 5;
    border: none;
    color: black;
    border-radius: 25px;
    text-align: center;
    max-width: 200px;
    height: 50px;
    margin-left: 35px;
    margin-top: 25px;
}