.login-container {
    margin-top: 100px;
    max-width: 500px;
}

.inputs-group > input {
    margin: 50px 0;
}

.login-button {
    position: center;
    width: 15vw;
    margin: 0 auto;
    margin-top: 50px;
    height: 5vw;;
    border-radius: 40px;
    background-color: #688f4e;
    border-color: #688f4e;
}

.login-button:hover {
    background-color: #688f4e;
    border-color: #688f4e;
}