body {
    background-color: #F4F1E9;
}

.profile-container {
    max-width: 60%;
    margin-top: 70px;
    margin-bottom: 70px;
    /* background-color: #B1D182; */
    border-radius: 50px;
}

.profile-container > .row {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.center > .col{
    text-align: center;
}

.person-picture {
    border-radius: 50%;
    width: 150px;
}

.bottom-row {
    padding-bottom: 50px;
}

.right-col {
    margin-left: 30px;
}

.events-on-profile > .full-card {
    margin: 0;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 150px;
}

.brukerinfo-card {
    margin-bottom: 50px;
}

.my-own-events > .full-card {
    margin: 0;
    margin-bottom: 20px;
    height: 150px;
}

.mine-arrangementer-h5 {
    margin-bottom: 15px;
}

.brukerinfo-div {
    margin-bottom: 50px;
}

.my-own-trips:hover {
    cursor: pointer;
    font-weight: bold;
}